.writeMessageWrapper{
    display: flex;
    position: fixed;
    bottom: 1em;
    margin-left: 1rem;
    width: 90vw;
}

.input .button{
  border: solid grey 1px; 
  border-radius: 5px;
  height: 3em;
  background: whitesmoke;
}

.input{
    min-width: 80vw;
    height: 43m;
}

.button{
    position:fixed;
    right: 1rem;
}

.messagesWrapper {
    overflow: scroll;
    position: fixed;
    bottom: 5rem;
    height: 60%;
    width: 100vw;
    background: white;
    /* padding: 1rem; */
}

.content {
    margin: 1rem;
}