.writeMessageWrapper{
    display: flex;
    position: fixed;
    bottom: 1em;
    margin-left: 1rem;
    width: 1000px;
}

.input .button{
  border: solid grey 1px; 
  border-radius: 5px;
  height: 3em;
  background: whitesmoke;
}

.button{
    position:fixed;
    right: 1rem;
}

.messagesWrapper {
    overflow: scroll;
    position: fixed;
    bottom: 5rem;
    height: 60%;
}