.pollContainer {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.pollTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 2.22em;
    line-height: 133%;
    color: #4FCFCF;
    mix-blend-mode: normal;
    margin-top: 5%;
    margin-left: 5%;

}

.question {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    width: 213px;
    height: 32px;
    margin-left: 5%;
}

.pollButton {
    background: #FBFBFB;
    border: 1px solid #FBFBFB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 90%;
    max-width: 370px;
    height: 140px;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 2.5%;
    float: left;
}

.pollButton:active {
    border: 1px solid #E8067B;
}

.pollButton:hover {
    border: 1px solid #E8067B;
}

.submit-btn {
    background: #E8067B;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    max-width: 370px;
    float: left;

}

.submit-btn:active {
    background: #FBFBFB;
    color: #E8067B;
}

.submit-btn:hover {
    background: #FBFBFB;
    color: #E8067B;
}

.pollButtonText {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #E8067B;
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
.pollButtonImg {
    height: 80%;
    width: 40%;
    float: right;
    margin-right: 5%;
}

.image {
    height: -webkit-fill-available;
    float: right;
}